# Упражнение 01 : Подзапрос

## Разрешенные функции : импорт pandas как pd, импорт sqlite3

In [2]:
import pandas as pd 
import sqlite3

## создайте подключение к базе данных с помощью библиотеки sqlite3
## получите схему средства проверки checker

In [6]:
conn=sqlite3.connect('../data/checking-logs.sqlite')
pd.read_sql('pragma table_info(checker)',conn,index_col='cid')

          name       type  notnull dflt_value  pk
cid
0        index    INTEGER        0       None   0
1       status       TEXT        0       None   0
2      success    INTEGER        0       None   0
3    timestamp  TIMESTAMP        0       None   0
4    numTrials    INTEGER        0       None   0
5      labname       TEXT        0       None   0
6          uid       TEXT        0       None   0

## для проверки таблицы используйте только первые 10 строк

In [8]:
query="""
select *
from checker
limit 10
"""

pd.read_sql(query,conn,index_col='index')

,status,success,timestamp,numTrials,labname,uid
index,,,,,,
0,checking,0,2020-04-16 21:12:50.740474,5,None,admin_1
1,ready,0,2020-04-16 21:12:54.708365,5,code_rvw,admin_1
2,checking,0,2020-04-16 21:46:47.769088,7,None,admin_1
3,ready,0,2020-04-16 21:46:48.121217,7,lab02,admin_1
4,checking,0,2020-04-16 21:53:01.862637,6,code_rvw,admin_1
5,ready,0,2020-04-16 21:53:05.373389,6,code_rvw,admin_1
6,checking,0,2020-04-17 05:18:51.965864,1,None,None
7,ready,0,2020-04-17 05:19:02.744528,1,project1,user_4
8,checking,0,2020-04-17 05:22:35.249331,2,project1,user_4
9,ready,1,2020-04-17 05:22:45.549397,2,project1,user_4

## Подсчитайте, сколько строк удовлетворяют следующим условиям, используя только один запрос с любым количеством подзапросов:
### - посчитайте количество строк в таблице просмотров страниц, но только с пользователями из таблицы проверки:
### - статус = «готов», мы не хотим анализировать журналы, которые находятся в режиме проверки статуса
### - numTrials = 1, мы хотим проанализировать только первые коммиты, потому что только они могут подсказать нам, когда студент начал работать над лабораторной работой
### - Названия лабораторий должны быть из списка: ’laba04’, ’laba04s’, ’laba05’, ’laba06’, ’laba06s’, ’project1’. Только они были активны во время эксперимента
### храните в фрейме данных шашки со столбцом cnt

In [12]:
query = """
        select count(*) as cnt
        from pageviews
        where uid in (
        select uid from checker
        where status = 'ready' and numTrials = 1
        and labname in ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')
        )
        """
pd.read_sql(query,conn)

   cnt
0  985

In [13]:
conn.close()