> ## Упражнение 02 : Предварительная обработка

## Разрешенные функции : импортируйте pandas как pd

In [1]:
import pandas as pd

## Загрузите и прочитайте CSV-файл и создайте ID индексный столбец

In [2]:
df=pd.read_csv('../../datasets/auto.csv', index_col=0)
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

## подсчитайте количество наблюдений, используя этот метод count()

In [3]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## Удалите дубликаты, принимая во внимание только следующие столбцы: CarNumber, Make_n_model, Fines

### между двумя равными наблюдениями вам нужно выбрать последнее
### проверьте количество наблюдений еще раз

In [15]:
df.drop_duplicates(subset=["CarNumber", "Make_n_model","Fines"], inplace=True)
df

        CarNumber       Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS         Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS       Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS         Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS         Ford Focus     2.0   2000.0      NaN
4    E34877152RUS         Ford Focus     2.0   6100.0      NaN
..            ...                ...     ...      ...      ...
924  7065C8197RUS  Volkswagen Passat     2.0  11400.0      NaN
926  Y163O8161RUS         Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS         Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS         Ford Focus     2.0    600.0      NaN
930  H419XE197RUS     Toyota Corolla     2.0      NaN      2.0

[725 rows x 5 columns]

In [18]:
df.duplicated(subset=["CarNumber", "Make_n_model", "Fines"]).sum()

0

## Работа с пропущенными значениями

### проверьте, сколько значений отсутствует в каждом столбце
### удалите все столбцы, в которых более 500 пропущенных значений, используя аргумент thresh, проверьте, сколько пропущенных значений в каждом столбце
### замените все пропущенные значения в столбце Refund предыдущим значением в этом столбце для этой ячейки, используйте метод аргументов, проверьте, сколько значений пропущено в каждом столбце
### замените все пропущенные значения в столбце Fines на среднее значение этого столбца (при вычислении среднего значения исключите значения NA/null), проверьте, сколько значений пропущено в каждом столбце

In [19]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           14
Fines            60
History         662
dtype: int64

In [20]:
df.dropna(axis=1, thresh=500, inplace=True)
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          14
Fines           60
dtype: int64

In [21]:
df['Refund'] = df['Refund'].ffill()
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [22]:
mean = df['Fines'].mean()
df['Fines'] = df['Fines'].fillna(mean)
df.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## Разделите и проанализируйте марку и модель

### используйте метод apply как для разделения, так и для извлечения значений в новые столбцы Make и Model

### отбросьте колонку Make_n_model

### сохраните фрейм данных в JSON-файле auto.json в приведенном ниже формате:

In [26]:
df["Make"] = df["Make_n_model"].apply(lambda x: str(x).split(" ")[0])
df["Model"] = df["Make_n_model"].apply(lambda x: " ".join(str(x).split(" ")[1:]))
df

,CarNumber,Make_n_model,Refund,Fines,Make,Model
ID,,,,,,
0,Y163O8161RUS,Ford Focus,2.0,3200.000000,Ford,Focus
1,E432XX77RUS,Toyota Camry,1.0,6500.000000,Toyota,Camry
2,7184TT36RUS,Ford Focus,1.0,2100.000000,Ford,Focus
3,X582HE161RUS,Ford Focus,2.0,2000.000000,Ford,Focus
4,E34877152RUS,Ford Focus,2.0,6100.000000,Ford,Focus
...,...,...,...,...,...,...
924,7065C8197RUS,Volkswagen Passat,2.0,11400.000000,Volkswagen,Passat
926,Y163O8161RUS,Ford Focus,2.0,1600.000000,Ford,Focus
927,M0309X197RUS,Ford Focus,1.0,22300.000000,Ford,Focus
928,O673E8197RUS,Ford Focus,2.0,600.000000,Ford,Focus
930,H419XE197RUS,Toyota Corolla,2.0,8594.586466,Toyota,Corolla

In [ ]:
df.drop(columns=["Make_n_model"], inplace=True)
df

        CarNumber  Refund         Fines        Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000        Ford    Focus
1     E432XX77RUS     1.0   6500.000000      Toyota    Camry
2     7184TT36RUS     1.0   2100.000000        Ford    Focus
3    X582HE161RUS     2.0   2000.000000        Ford    Focus
4    E34877152RUS     2.0   6100.000000        Ford    Focus
..            ...     ...           ...         ...      ...
924  7065C8197RUS     2.0  11400.000000  Volkswagen   Passat
926  Y163O8161RUS     2.0   1600.000000        Ford    Focus
927  M0309X197RUS     1.0  22300.000000        Ford    Focus
928  O673E8197RUS     2.0    600.000000        Ford    Focus
930  H419XE197RUS     2.0   8594.586466      Toyota  Corolla

[725 rows x 5 columns]

In [31]:
df.to_json("../../datasets/auto.json", orient="records", indent=2)