> ## Упражнение 05 : Оптимизация Pandas

## Разрешенные функции : импорт pandas как pd, импорт gc

In [ ]:
import pandas as pd
import gc

## Прочитайте файл fines.csv, который вы сохранили в предыдущем упражнении

In [6]:
df=pd.read_csv('../../datasets/fines.csv')
display(df.info(memory_usage='deep'))
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    object
 1   Refund     930 non-null    int64
 2   Fines      930 non-null    float64
 3   Make       930 non-null    object
 4   Model      918 non-null    object
 5   Year       930 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 174.9 KB

None

      CarNumber  Refund    Fines        Make    Model  Year
0  3182CD254RUS       1  6000.00      Toyota  Corolla  2002
1  AU345R125RUS       2  9994.54        Ford    Focus  2016
2  O728AM164RUS       2  3500.00  Volkswagen  Touareg  1991
3  P885OH198RUS       1  1000.00  Volkswagen     Golf  2012
4  V2626R123RUS       1  3285.45  Volkswagen  Touareg  2010

## итерации: во всех следующих подзадачах вам нужно вычислить **fines/refund*year** для каждой строки и создать новый столбец с вычисленными данными, а также измерить время с помощью магической команды %%timeit в ячейке

### цикл: напишите функцию, которая перебирает данные в фрейме данных с помощью for i in range(0, len(df)), iloc и append() и сохраняет их в списке. Присвойте результат работы функции новому столбцу в фрейме данных
### сделайте это с помощью iterrows()
### сделайте это с помощью apply() и лямбда-функции
### сделайте это, используя Series объекты из фрейма данных
### сделайте это, как в предыдущей подзадаче, но с помощью метода .values

In [ ]:
def loop(frame):
    data = []
    for i in range(0, len(frame)):
        row = df.iloc[i] 
        value = row['Fines'] / row['Refund'] * row['Year']
        data.append(value)
    return data

In [ ]:
%%timeit
df['Result'] = loop(df)

26.1 ms ± 373 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [11]:
def iter_row(frame):
    data = []
    for _, row in frame.iterrows():
        value = row['Fines'] / row['Refund'] * row['Year']
        data.append(value)
    return data

In [17]:
%%timeit
df['Result'] = iter_row(df)

23.1 ms ± 216 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [18]:
%%timeit
df['Result'] = df.apply(lambda row: row['Fines'] / row['Refund'] * row['Year'], axis=1)

5.06 ms ± 183 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [19]:
%%timeit
df['Result'] = df['Fines'] / df['Refund'] * df['Year']

121 µs ± 1.93 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [20]:
%%timeit
df['Result'] = df['Fines'].values / df['Refund'].values * df['Year'].values

59.9 µs ± 662 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

## индексирование: измерьте время с помощью волшебной команды %%timeit в ячейке

### получить строку для определенного CarNumber, например, ’O136HO197RUS’
### установите индекс в вашем фрейме данных с помощью CarNumber
### опять же, получите строку для того же самого CarNumber

In [21]:
%%timeit
df.loc[df['CarNumber'] == 'O136HO197RUS']

144 µs ± 1.41 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [22]:
df.set_index('CarNumber', inplace=True)
df

              Refund         Fines        Make    Model  Year        Result
CarNumber
3182CD254RUS       1   6000.000000      Toyota  Corolla  2002  1.201200e+07
AU345R125RUS       2   9994.540000        Ford    Focus  2016  1.007450e+07
O728AM164RUS       2   3500.000000  Volkswagen  Touareg  1991  3.484250e+06
P885OH198RUS       1   1000.000000  Volkswagen     Golf  2012  2.012000e+06
V2626R123RUS       1   3285.450000  Volkswagen  Touareg  2010  6.603754e+06
...              ...           ...         ...      ...   ...           ...
X786CO96RUS        1   8594.586466        Ford    Focus  1996  1.715479e+07
9764HY161RUS       1    800.000000        Ford    Focus  2002  1.601600e+06
H906YK197RUS       1  12000.000000        Ford    Focus  1996  2.395200e+07
K2797K154RUS       1   8594.586466        Ford    Focus  2012  1.729231e+07
9939KK197RUS       1   1600.000000        Ford    Focus  1984  3.174400e+06

[930 rows x 6 columns]

In [24]:
%%timeit
df.loc[df.index == 'O136HO197RUS']

115 µs ± 1.6 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

## понижающий коэффициент

### запустите df.info(memory_usage=’deep’), обратите внимание на Dtype и использование памяти
### преобразуйте copy() ваш исходный фрейм данных в другой фрейм данных optimized
### уменьшенный от float64 до float32 для всех столбцов
### уменьшите значение с int64 до минимально возможного числового dtype
### запустите info(memory_usage='deep') для вашего нового фрейма данных, обратите внимание на тип данных и использование памяти

In [26]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, 3182CD254RUS to 9939KK197RUS
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  930 non-null    int64
 1   Fines   930 non-null    float64
 2   Make    930 non-null    object
 3   Model   918 non-null    object
 4   Year    930 non-null    int64
 5   Result  930 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 182.0 KB

In [33]:
df_optimized = df.copy()

df_optimized['Refund'] = df_optimized['Refund'].astype('int8')
df_optimized['Fines'] = df_optimized['Fines'].astype('float32')
df_optimized['Year'] = df_optimized['Year'].astype('int16')
df_optimized['Result'] = df_optimized['Result'].astype('float32')

In [35]:
df_optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, 3182CD254RUS to 9939KK197RUS
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  930 non-null    int8
 1   Fines   930 non-null    float32
 2   Make    930 non-null    object
 3   Model   918 non-null    object
 4   Year    930 non-null    int16
 5   Result  930 non-null    float32
dtypes: float32(2), int16(1), int8(1), object(2)
memory usage: 162.9 KB

## Категории:
### измените object столбцы типа на тип category
### На этот раз проверьте использование памяти, оно, вероятно, уменьшилось в 2–3 раза по сравнению с исходным фреймом данных

In [36]:
df_optimized['Make'] = df_optimized['Make'].astype('category')
df_optimized['Model'] = df_optimized['Model'].astype('category')

In [37]:
df_optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, 3182CD254RUS to 9939KK197RUS
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  930 non-null    int8
 1   Fines   930 non-null    float32
 2   Make    930 non-null    category
 3   Model   918 non-null    category
 4   Year    930 non-null    int16
 5   Result  930 non-null    float32
dtypes: category(2), float32(2), int16(1), int8(1)
memory usage: 68.5 KB

In [38]:
%reset_selective -f df

In [41]:
gc.collect()

0