## Упражнение 00 : Выберите

### Разрешенные функции : импорт pandas как pd, импорт sqlite3

In [2]:
import pandas as pd
import sqlite3

### создайте подключение к базе данных с помощью библиотеки sqlite3

In [3]:
conn=sqlite3.connect('../data/checking-logs.sqlite')

### получите схему таблицы просмотров страниц с помощью pd.io.sql.read_sql и запроса «PRAGMA table_info(pageviews);»

In [4]:
schema=pd.read_sql('PRAGMA table_info(pageviews);',conn)
schema

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

### для просмотра таблицы достаточно первых 10 строк

In [22]:
pd.read_sql('select* from pageviews limit 10',conn,index_col='index')

           uid                    datetime
index
0      admin_1  2020-04-17 12:01:08.463179
1      admin_1  2020-04-17 12:01:23.743946
2      admin_3  2020-04-17 12:17:39.287778
3      admin_3  2020-04-17 12:17:40.001768
4      admin_1  2020-04-17 12:27:30.646665
5      admin_1  2020-04-17 12:35:44.884757
6      admin_1  2020-04-17 12:35:52.735016
7      admin_3  2020-04-17 12:36:21.401412
8      admin_3  2020-04-17 12:36:22.023355
9      admin_1  2020-04-17 13:55:19.129243

### получите подтаблицу, используя только один запрос, где:
### * используются только uid и datetime

In [44]:
pd.read_sql('select uid, datetime from pageviews limit 10',conn)

       uid                    datetime
0  admin_1  2020-04-17 12:01:08.463179
1  admin_1  2020-04-17 12:01:23.743946
2  admin_3  2020-04-17 12:17:39.287778
3  admin_3  2020-04-17 12:17:40.001768
4  admin_1  2020-04-17 12:27:30.646665
5  admin_1  2020-04-17 12:35:44.884757
6  admin_1  2020-04-17 12:35:52.735016
7  admin_3  2020-04-17 12:36:21.401412
8  admin_3  2020-04-17 12:36:22.023355
9  admin_1  2020-04-17 13:55:19.129243

### используются только данные пользователя (user_ *), а не данные администратора

In [47]:
query="""
select uid, datetime
from pageviews
where uid like 'user_%'
"""

pd.read_sql(query,conn)

         uid                    datetime
0    user_30  2020-04-17 22:46:26.785035
1    user_14  2020-04-18 10:53:52.623447
2    user_17  2020-04-18 10:56:55.833899
3    user_14  2020-04-18 10:57:37.331258
4    user_17  2020-04-18 12:05:48.200144
..       ...                         ...
982  user_28  2020-05-21 18:45:20.441142
983  user_19  2020-05-21 23:03:06.457819
984  user_25  2020-05-21 23:23:49.995349
985   user_5  2020-05-22 11:30:18.368990
986  user_17  2020-05-22 18:22:22.847815

[987 rows x 2 columns]

### он отсортирован по uid в порядке возрастания

In [61]:
query="""
select uid, datetime
from pageviews
where uid like 'user_%'
order by uid asc
"""

pd.read_sql(query,conn)

         uid                    datetime
0     user_1  2020-04-26 21:53:59.624136
1     user_1  2020-04-26 22:06:19.478143
2     user_1  2020-04-26 22:12:09.614497
3     user_1  2020-04-30 19:29:01.831635
4     user_1  2020-05-05 20:26:32.894852
..       ...                         ...
982  user_30  2020-04-29 16:51:21.877630
983  user_30  2020-05-09 20:30:47.034282
984   user_5  2020-05-22 11:30:18.368990
985   user_9  2020-05-21 16:28:28.217529
986   user_9  2020-05-21 16:36:40.915488

[987 rows x 2 columns]

### столбец индекса - datetime
### datetime преобразуется в DatetimeIndex
### имя фрейма данных - просмотры страниц

In [62]:
query="""
select uid, datetime
from pageviews
where uid like 'user_%'
order by uid asc
"""

pageviews = pd.read_sql(query, conn, index_col='datetime')
pageviews.index = pd.to_datetime(pageviews.index)
pageviews

                                uid
datetime
2020-04-26 21:53:59.624136   user_1
2020-04-26 22:06:19.478143   user_1
2020-04-26 22:12:09.614497   user_1
2020-04-30 19:29:01.831635   user_1
2020-05-05 20:26:32.894852   user_1
...                             ...
2020-04-29 16:51:21.877630  user_30
2020-05-09 20:30:47.034282  user_30
2020-05-22 11:30:18.368990   user_5
2020-05-21 16:28:28.217529   user_9
2020-05-21 16:36:40.915488   user_9

[987 rows x 1 columns]

### закройте соединение с базой данных

In [64]:
conn.close()