> ## Упражнение 03 : Выбор и агрегирование

## Разрешенные функции : импортируйте pandas как pd

In [1]:
import pandas as pd

## загрузите файл JSON, который вы создали в предыдущем упражнении, во фрейм данных

### установите CarNumber в качестве индексного столбца

In [2]:
df=pd.read_json('../../datasets/auto.json',orient='records')
df.set_index('CarNumber', inplace=True)
df

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
7184TT36RUS        1   2100.000000        Ford    Focus
X582HE161RUS       2   2000.000000        Ford    Focus
E34877152RUS       2   6100.000000        Ford    Focus
...              ...           ...         ...      ...
7065C8197RUS       2  11400.000000  Volkswagen   Passat
Y163O8161RUS       2   1600.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
O673E8197RUS       2    600.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[725 rows x 4 columns]

## выполните следующие действия

### отображать только те строки, в которых fines больше, чем 2,100
### отображать строки только там, где fines больше, чем 2,100 и refund равно 2
### отображать только те строки, в которых models находятся из списка: [’Focus’, ’Corolla’]
### отображать только те строки, в которых указан номер автомобиля из списка: [’Y7689C197RUS’, ’92928M178RUS’, ’7788KT197RUS’, ’H115YO163RUS’, ’X758HY197RUS’]

In [5]:
df[df['Fines']>2100]

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
E34877152RUS       2   6100.000000        Ford    Focus
92918M178RUS       1   5700.000000        Ford    Focus
X4128H125RUS       1   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 4 columns]

In [ ]:
df[(df['Fines']>2100) | (df['Refund']==2)]

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E34877152RUS       2   6100.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   8594.586466      Toyota  Corolla

[309 rows x 4 columns]

In [16]:
df[df['Model'].isin(['Corolla','Focus'])]

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
E34877152RUS       2   6100.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
O718MM163RUS       2   8594.586466    Ford    Focus
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

In [17]:
search_list = ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']
df[df.index.isin(search_list)]

              Refund          Fines  Make  Model
CarNumber
92928M178RUS       1    8594.586466  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
92928M178RUS       2    1200.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
Y7689C197RUS       1   27000.000000  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus

## создайте агрегированные данные с указанием марки и модели

### отобразить медиану, fines сгруппированную по make
### отобразить медиану, fines сгруппированную по make и model
### отобразите количество fines сгруппированных по make и model для того, чтобы понять, можно ли доверять медианным значениям
### отобразите минимальное и максимальное значения fines в группах make и model для лучшего понимания дисперсии
### отобразите стандартное отклонение fines сгруппированных по make и model для лучшего понимания дисперсии

In [26]:
df['Fines'].groupby(df['Make']).median()

Make
Audi          4200.0
BMW           6500.0
Ford          3500.0
Skoda         3250.0
Toyota        7700.0
Volkswagen    4300.0
Volvo         8500.0
Name: Fines, dtype: float64

In [29]:
df['Fines'].groupby(by=[df['Make'],df['Model']]).median()

Make        Model
Audi                   4200.0
BMW                    6500.0
Ford        Focus      3500.0
            Mondeo     7650.0
Skoda       Octavia    3250.0
Toyota      Camry      7700.0
            Corolla    7700.0
Volkswagen             7400.0
            Golf       4800.0
            Jetta      2800.0
            Passat     3500.0
            Touareg    5800.0
Volvo                  8500.0
Name: Fines, dtype: float64

In [30]:
df['Fines'].groupby(by=[df['Make'],df['Model']]).count()

Make        Model
Audi                     1
BMW                      3
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen               3
            Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Volvo                    2
Name: Fines, dtype: int64

In [35]:
df['Fines'].groupby(by=[df['Make'],df['Model']]).agg(['min', 'max'])

                       min            max
Make       Model
Audi                4200.0    4200.000000
BMW                 3000.0    8594.586466
Ford       Focus     100.0  180000.000000
           Mondeo   1100.0   46200.000000
Skoda      Octavia   300.0  145000.000000
Toyota     Camry     500.0   22400.000000
           Corolla   900.0   34300.000000
Volkswagen          1300.0    7900.000000
           Golf      200.0  168000.000000
           Jetta     500.0   46000.000000
           Passat    100.0   29700.000000
           Touareg   500.0    8594.586466
Volvo               6800.0   10200.000000

In [ ]:
df['Fines'].groupby(by=[df['Make'],df['Model']]).std()

Make        Model
Audi                            NaN
BMW                     2826.561226
Ford        Focus      15041.269437
            Mondeo     18987.329108
Skoda       Octavia    24339.742174
Toyota      Camry       6410.250654
            Corolla     9629.325617
Volkswagen              3674.688195
            Golf       36950.839950
            Jetta      17743.026799
            Passat      6969.739135
            Touareg     3461.778173
Volvo                   2404.163056
Name: Fines, dtype: float64

In [38]:
df['Fines'].groupby(by=[df['Make'],df['Model']]).agg(['mean','median','count','min', 'max','std'])

                            mean  median  count     min            max  \
Make       Model
Audi                 4200.000000  4200.0      1  4200.0    4200.000000
BMW                  6031.528822  6500.0      3  3000.0    8594.586466
Ford       Focus     8184.445897  3500.0    575   100.0  180000.000000
           Mondeo   16533.333333  7650.0      6  1100.0   46200.000000
Skoda      Octavia  10586.710526  3250.0     48   300.0  145000.000000
Toyota     Camry     8236.823308  7700.0     16   500.0   22400.000000
           Corolla  10583.032581  7700.0     18   900.0   34300.000000
Volkswagen           5533.333333  7400.0      3  1300.0    7900.000000
           Golf     15744.729323  4800.0     20   200.0  168000.000000
           Jetta    10350.000000  2800.0      6   500.0   46000.000000
           Passat    6363.144224  3500.0     22   100.0   29700.000000
           Touareg   4498.917293  5800.0      5   500.0    8594.586466
Volvo                8500.000000  8500.0      2  6800.0   10200.000000

                             std
Make       Model
Audi                         NaN
BMW                  2826.561226
Ford       Focus    15041.269437
           Mondeo   18987.329108
Skoda      Octavia  24339.742174
Toyota     Camry     6410.250654
           Corolla   9629.325617
Volkswagen           3674.688195
           Golf     36950.839950
           Jetta    17743.026799
           Passat    6969.739135
           Touareg   3461.778173
Volvo                2404.163056

## Произведите агрегацию с указанием номера автомобиля
### выведите номера автомобилей, сгруппированные по количеству fines в порядке убывания. Мы хотим найти тех, кто чаще всего нарушал закон
### выберите из исходного фрейма данных все строки, соответствующие номеру автомобиля, который находится на первом месте, мы хотим немного увеличить масштаб
### выведите номера автомобилей, сгруппированные по сумме fines в порядке убывания, мы хотим найти тех, кто заплатил больше всего
### выберите из исходного фрейма данных все строки, соответствующие номеру автомобиля, который находится на первом месте, мы хотим немного увеличить масштаб
### выведите таблицу, которая отвечает на вопрос: есть ли номера автомобилей, которые были связаны с разными моделями?

In [40]:
df['Fines'].groupby('CarNumber').count().sort_values(ascending=False)

CarNumber
92928M178RUS    4
Y7689C197RUS    4
7788KT197RUS    4
X015HY197RUS    3
7830C8197RUS    3
               ..
H837YK197RUS    1
H618YC38RUS     1
8451M7154RUS    1
8513XX154RUS    1
8440XX154RUS    1
Name: Fines, Length: 531, dtype: int64

In [41]:
df[df.index == '92928M178RUS']

              Refund        Fines  Make  Model
CarNumber
92928M178RUS       1  8594.586466  Ford  Focus
92928M178RUS       2  1200.000000  Ford  Focus
92928M178RUS       1   600.000000  Ford  Focus
92928M178RUS       2  3000.000000  Ford  Focus

In [42]:
df['Fines'].groupby('CarNumber').sum().sort_values(ascending=False)

CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
Y166O8161RUS       100.0
705787163RUS       100.0
Y195O8161RUS       100.0
K326T8197RUS       100.0
K376HE161RUS       100.0
Name: Fines, Length: 531, dtype: float64

In [43]:
df[df.index == 'X758HY197RUS']

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

In [56]:
car_numbers = df.groupby('CarNumber')['Model'].nunique()
car_multiple = car_numbers[car_numbers > 1]

df[df.index.isin(car_multiple.index)]

              Refund   Fines        Make    Model
CarNumber
E316EH197RUS       1  1300.0  Volkswagen
E316EH197RUS       1  1300.0  Volkswagen  Touareg