> ## Упражнение 01 : Основные операции

## Разрешенные функции : импортируйте pandas как pd

In [10]:
import pandas as pd

## Cоздайте фрейм данных views с двумя столбцами: datetime и user, прочитав feed-views.log

In [11]:
views=pd.read_csv('../../datasets/feed-views.log', names=['datetime', 'user'], sep='\t')
views.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   object
 1   user      1076 non-null   object
dtypes: object(2)
memory usage: 138.4 KB

In [12]:
views

                        datetime       user
0     2020-04-17 12:01:08.463179      artem
1     2020-04-17 12:01:23.743946      artem
2     2020-04-17 12:27:30.646665      artem
3     2020-04-17 12:35:44.884757      artem
4     2020-04-17 12:35:52.735016      artem
...                          ...        ...
1071  2020-05-21 18:45:20.441142  valentina
1072  2020-05-21 23:03:06.457819      maxim
1073  2020-05-21 23:23:49.995349      pavel
1074  2020-05-21 23:49:22.386789      artem
1075  2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]

### Преобразуйте datetime в datetime64[ns] Dtype

In [13]:
views['datetime']=views['datetime'].astype('datetime64[ns]')
views.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   user      1076 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 68.0 KB

### Извлеките год, месяц, день, час, минуту и секунду из значений этого столбца в новые столбцы

In [14]:
views['year']=views['datetime'].dt.year
views['month']=views['datetime'].dt.month
views['day']=views['datetime'].dt.day
views['hour']=views['datetime'].dt.hour
views['minute']=views['datetime'].dt.minute
views['second']=views['datetime'].dt.second
views['microsecond']=views['datetime'].dt.microsecond
display(views.info(memory_usage='deep'))
views.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   datetime     1076 non-null   datetime64[ns]
 1   user         1076 non-null   object
 2   year         1076 non-null   int32
 3   month        1076 non-null   int32
 4   day          1076 non-null   int32
 5   hour         1076 non-null   int32
 6   minute       1076 non-null   int32
 7   second       1076 non-null   int32
 8   microsecond  1076 non-null   int32
dtypes: datetime64[ns](1), int32(7), object(1)
memory usage: 97.4 KB

None

,datetime,user,year,month,day,hour,minute,second,microsecond
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8,463179
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23,743946
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30,646665
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44,884757
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52,735016

## Cоздайте новый столбец daytime

### Вам нужно присвоить конкретное значение времени суток, если час находится в определённом интервале, например, полдень, если час больше 11 и меньше или равен 17
### 0 – 3,59 night, 4 – 6,59 early morning, 7 – 10,59 morning, 11 – 16,59 afternoon, 17 – 19,59 early evening, 20 – 23,59 evening
### используйте метод cut для решения этой подзадачи
### назначьте столбец user в качестве индекса

In [15]:
views['daytime'] = pd.cut(views['hour'],
                           bins=[0, 4, 7, 11, 17, 20, 24], 
                           labels=['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening'], right=False)
views

,datetime,user,year,month,day,hour,minute,second,microsecond,daytime
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8,463179,afternoon
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23,743946,afternoon
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30,646665,afternoon
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44,884757,afternoon
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52,735016,afternoon
...,...,...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20,441142,early evening
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6,457819,evening
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49,995349,evening
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22,386789,evening
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14,662600,morning

## Вычислите количество элементов в вашем фрейме данных

### используйте этот метод count()
### рассчитайте количество элементов в каждой категории "время суток", используя следующий метод value_counts()

In [16]:
views.count()

datetime       1076
user           1076
year           1076
month          1076
day            1076
hour           1076
minute         1076
second         1076
microsecond    1076
daytime        1076
dtype: int64

In [17]:
views['daytime'].value_counts()

daytime
evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: count, dtype: int64

### Отсортируйте значения в вашем фрейме данных по часам, минутам и секундам в порядке возрастания (одновременно, а не по одному)

In [23]:
views.sort_values(by=['hour','minute','second'],inplace=True)
views

,datetime,user,year,month,day,hour,minute,second,microsecond,daytime
944,2020-05-15 00:00:13.222265,valentina,2020,5,15,0,0,13,222265,night
945,2020-05-15 00:01:05.153738,valentina,2020,5,15,0,1,5,153738,night
563,2020-05-12 00:01:27.764025,pavel,2020,5,12,0,1,27,764025,night
564,2020-05-12 00:01:38.444917,pavel,2020,5,12,0,1,38,444917,night
565,2020-05-12 00:01:55.395042,pavel,2020,5,12,0,1,55,395042,night
...,...,...,...,...,...,...,...,...,...,...
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22,386789,evening
246,2020-05-09 23:53:55.599821,anatoliy,2020,5,9,23,53,55,599821,evening
247,2020-05-09 23:54:54.260791,pavel,2020,5,9,23,54,54,260791,evening
942,2020-05-14 23:58:56.754866,valentina,2020,5,14,23,58,56,754866,evening
943,2020-05-14 23:59:38.758438,alexander,2020,5,14,23,59,38,758438,evening

## Рассчитайте минимум и максимум для часов и режима для категорий дневного времени

### рассчитайте максимальное количество часов для строк, где время суток равно ночи
### рассчитайте минимальное количество часов для строк, где время суток - утро
### Кроме того, выясните, кто посещал страницу в эти часы (приведите один пример)
### рассчитайте mode для часа и дневного времени

In [19]:
night_df = views[views['daytime'] == 'night']
morning_df = views[views['daytime'] == 'morning']

max_night = night_df['hour'].max()
min_morning = morning_df['hour'].min()

print(f'Max hour night: {max_night}')
print(f'Min hour morning: {min_morning}')


users_night = views[views['hour'] == max_night]
users_morning = views[views['hour'] == min_morning]

print(users_night)
print(users_morning)

print(f'Moda for hour: {views['hour'].mode()}')
print(f'Moda for daytime: {views['daytime'].mode()}')

Max hour night: 3
Min hour morning: 8
                     datetime        user  year  month  day  hour  minute  \
46 2020-04-19 03:23:35.471598  konstantin  2020      4   19     3      23
47 2020-04-19 03:23:55.473926  konstantin  2020      4   19     3      23
48 2020-04-19 03:33:07.757714  konstantin  2020      4   19     3      33

    second  microsecond daytime
46      35       471598   night
47      55       473926   night
48       7       757714   night
                      datetime       user  year  month  day  hour  minute  \
963 2020-05-15 08:16:03.918402  alexander  2020      5   15     8      16
964 2020-05-15 08:35:01.471463  alexander  2020      5   15     8      35

     second  microsecond  daytime
963       3       918402  morning
964       1       471463  morning
Moda for hour: 0    22
Name: hour, dtype: int32
Moda for daytime: 0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

## Покажите 3 самых ранних часа утра и соответствующие имена пользователей, а также 3 самых поздних часа и имена пользователей с помощью nsmallest() и nlargest()

In [ ]:
print(views.head(3))
views['hour'].nsmallest(3)

,datetime,user,year,month,day,hour,minute,second,microsecond,daytime
944,2020-05-15 00:00:13.222265,valentina,2020,5,15,0,0,13,222265,night
945,2020-05-15 00:01:05.153738,valentina,2020,5,15,0,1,5,153738,night
563,2020-05-12 00:01:27.764025,pavel,2020,5,12,0,1,27,764025,night

944    0
945    0
563    0
Name: hour, dtype: int32

In [21]:
display(views.tail(3))
views['hour'].nlargest(3)

,datetime,user,year,month,day,hour,minute,second,microsecond,daytime
247,2020-05-09 23:54:54.260791,pavel,2020,5,9,23,54,54,260791,evening
942,2020-05-14 23:58:56.754866,valentina,2020,5,14,23,58,56,754866,evening
943,2020-05-14 23:59:38.758438,alexander,2020,5,14,23,59,38,758438,evening

928    23
929    23
930    23
Name: hour, dtype: int32

## Используйте метод describe() для получения базовой статистики по столбцам

### чтобы узнать, какой интервал посещения страницы является самым популярным, вычислите межквартильный размах для часа, извлекая значения из результата метода describe() и сохраняя их в переменной iqr

In [22]:
desc = views.describe()
display(desc)
q1=desc['hour']['25%']
q3=desc['hour']['75%']
print(f'IQR = {q3-q1}')

,datetime,year,month,day,hour,minute,second,microsecond
count,1076,1076.0,1076.000000,1076.000000,1076.000000,1076.000000,1076.000000,1076.000000
mean,2020-05-10 09:00:41.211420672,2020.0,4.870818,13.552974,16.249071,29.629182,29.500929,502312.830855
min,2020-04-17 12:01:08.463179,2020.0,4.000000,1.000000,0.000000,0.000000,0.000000,709.000000
25%,2020-05-10 01:13:49.857472,2020.0,5.000000,11.000000,13.000000,14.000000,14.000000,241057.000000
50%,2020-05-11 22:48:35.302552832,2020.0,5.000000,13.000000,19.000000,29.000000,30.000000,508360.000000
75%,2020-05-14 14:44:34.749530624,2020.0,5.000000,15.000000,22.000000,46.000000,45.000000,756579.250000
max,2020-05-22 10:36:14.662600,2020.0,5.000000,30.000000,23.000000,59.000000,59.000000,999438.000000
std,NaN,0.0,0.335557,4.906567,6.955490,17.689388,17.405506,291955.452167

IQR = 9.0